---
import type { Proyecto } from "@/Types";
import Typography from "./Typography.astro";

interface Props {
  proyecto: Proyecto;
}

const { proyecto } = Astro.props;
---

<article
  class="bg-transparent border border-slate-700 p-4 rounded-2xl flex flex-col gap-y-3 transition-transform transform md:hover:scale-[1.03] hover:shadow-lg shadow-blue-500/20 group overflow-hidden relative"
>
  <a
    href={proyecto.url}
    target="_blank"
    class="relative group overflow-hidden rounded-2xl"
  >
    <img
      src={proyecto.img}
      alt={`Imagen del proyecto ${proyecto.name}`}
      title={`Imagen del proyecto ${proyecto.name}`}
      class="w-full block transition-opacity duration-300 group-hover:opacity-80"
      loading="lazy"
      decoding="async"
    />
    <div
      class="absolute inset-0 bg-blue-500 opacity-0 group-hover:opacity-20 transition-opacity duration-300"
    >
    </div>
    <!-- Efecto de brillo dinámico en los bordes -->
    <div
      class="absolute inset-0 border-2 border-transparent group-hover:border-blue-500/50 rounded-2xl animate-pulse"
    >
    </div>
  </a>

  <div class="px-2 space-y-2">
    <Typography
      as="h3"
      variant="small"
      color="secondary"
      class:list={"mt-2 text-lg font-bold text-white tracking-wide"}
    >
      {proyecto.name}
    </Typography>

    <Typography
      as="p"
      variant="text"
      color="secondary"
      class:list="text-gray-200 text-sm"
    >
      {proyecto.description}
    </Typography>
  </div>

  <div class="flex items-center justify-between mt-2 px-2">
    <div class="flex gap-1 items-center bg-gray-700 p-2 rounded-xl">
      {
        proyecto.technologies?.map((tech) => (
          <img
            src={`/icons/${tech}.svg`}
            alt={`Icono de la tecnología ${tech}`}
            class="w-5 h-5 block"
            loading="lazy"
            decoding="async"
            title={`Icono de la tecnología ${tech}`}
          />
        ))
      }
    </div>

    <div class="flex gap-2 items-center justify-center">
      <a
        target="_blank"
        href={proyecto.url}
        class="p-1 rounded-full hover:bg-blue-500/20 transition-colors"
      >
        <img
          src="/icons/link.svg"
          alt="Ir al proyecto"
          title="Ir al proyecto"
          class="block w-6 h-6"
          loading="lazy"
          decoding="async"
        />
      </a>

      {
        proyecto.github && (
          <a
            target="_blank"
            href={proyecto.github}
            class="p-1 rounded-full hover:bg-gray-500/20 transition-colors"
          >
            <img
              src="/icons/Github.svg"
              alt="Ir al repositorio"
              title="Ir al repositorio"
              class="block h-6 w-6"
              loading="lazy"
              decoding="async"
            />
          </a>
        )
      }
    </div>
  </div>
</article>
