---
import type { Proyecto } from "@/Types";
import Typography from "./Typography.astro";

interface Props {
  proyecto: Proyecto;
}

const { proyecto } = Astro.props;
---

<article class="bg-gray-800 p-3 rounded-xl flex flex-col gap-y-2">
  <a href={proyecto.url} target="_blank">
    <img
      src={proyecto.img}
      alt={`Imagen del proyecto ${proyecto.name}`}
      title={`Imagen del proyecto ${proyecto.name}`}
      class="w-full block rounded-xl"
      loading="lazy"
      decoding="async"
    />
  </a>

  <div>
    <Typography as="h3" variant="small" color="secondary" class:list={"mt-2"}>
      {proyecto.name}
    </Typography>

    <Typography as="p" variant="text" color="secondary">
      {proyecto.description}
    </Typography>
  </div>

  <div class="flex items-center justify-between">
    <div class="flex gap-1 items-center bg-gray-700 p-2 rounded-xl">
      {
        proyecto.technologies?.map((tech) => (
          <img
            src={`/icons/${tech}.svg`}
            alt={`Icono de la tecnología ${tech}`}
            class="w-5 h-5 block"
            loading="lazy"
            decoding="async"
            title={`Icono de la tecnología ${tech}`}
          />
        ))
      }
    </div>

    <div class="flex gap-2 items-center justify-center">
      <Typography
        as="a"
        target={"_blank"}
        variant={"text"}
        color="secondary"
        href={proyecto.url}
        class:list={"mb-0 hover:underline sm:hidden md:block"}
      >
        <img
          src="/icons/link.svg"
          alt="Ir al proyecto"
          title="Ir al proyecto"
          class="block"
          loading="lazy"
          decoding="async"
        /></Typography
      >

      {
        proyecto.github && (
          <Typography
            as="a"
            target={"_blank"}
            variant={"text"}
            color="secondary"
            href={proyecto.github}
            class:list={"mb-0 hover:underline sm:hidden md:block"}
          >
            <img
              src="/icons/Github.svg"
              alt="Ir al repositorio"
              title="Ir al repositorio"
              class="block h-6 w-6"
              loading="lazy"
              decoding="async"
            />
          </Typography>
        )
      }
    </div>
  </div>
</article>
